/*Style sheet for Odin Landing Page project*/

body {margin: 0;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {background-color: #1f2937;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {color: #f9faf8;
    font-size: 24px;
    padding-left: 10%;
}

.links, .description {
    color: #e5e7eb;
    font-size: 18px;
}

.links {display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    padding-right: 10%;
}

ul {list-style-type: none;
    padding: 0;
    margin: 0;
}

.intro {background-color: #1f2937;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    column-gap: 10%;
}

.card, .img {width: 35%;}

.name {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 10px;    
}

.button {background-color: #3882f6;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 10px 0px;
    color: #e5e7eb;
    border: 1px solid #3882f6; 
    font-size: 18px;
    font-weight: bold;
    min-width: 100px;
}

.cover {max-width: 100%;}

.info {display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.products {color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 30px 0;
}

.menu {display: flex;
    justify-content: center;
    column-gap: 40px;
    flex-wrap: wrap;
}

.item {width: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.pic {border-radius: 8px;
    border: 2px solid #3882f6;
    max-height: 98px;
}

.text {color: #1f2937;
    font-size: 18px;
    text-align: center;
}

.quote {background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0px;
}

.leyend {color: #1f2937;
    font-size: 36px;
    font-style: italic;
    width: 50%;
}

.author {color: #1f2937;
    font-size: 24px;
    font-weight: bold;
    width: 50%;
    text-align: right;
    padding-top: 10px;
}

.signup {display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0px;
}

.blueback {background-color: #3882f6;
    border-radius: 8px;
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.action1 {color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.action2 {color: #f9faf8;
    font-size: 18px;
}

#end.button {border: 1px solid #e5e7eb;
}

.footer {background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}